{% extends "layout.html" %}

{% block title %}
    Add Run
{% endblock %}

{% block main %}
    <p>Fill out this form to add a run to your schedule.</p>
    <p>You can optionally submit a proposed route; navigate to <a href="https://onthegomap.com">On The Go Map</a>, map out your route,
        get the share link from the top right corner, and paste it into the last text box (must be in the form http(s)://link.domain).</p>
    <form action="/add" method="post">
        {% if error_message %}
            <div class="alert alert-warning" role="alert">
                Please input at least one run before matching with other runners
            </div>
        {% endif %}
        
        
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" min="0" name="distance" placeholder="Distance (miles)" type="number" step="0.1" required>
        </div>
        <div class="mb-3">
            Pace&nbsp;&nbsp;&nbsp;&nbsp;
            <!-- <input autocomplete="off" class="form-control mx-auto w-auto" name="pace" placeholder="Pace (minutes per mile)" type="text" required> -->
            <input autocomplete="off" class="form-control" min="0" max="29" name="pace_mins" placeholder="Min" type="number" required style="display: inline-block; width:70px;"> :
            <input autocomplete="off" class="form-control" min="0" max="59" name="pace_secs" placeholder="Sec" type="number" required style="display: inline-block; width:70px;">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="date" name="date" min="{{ cur_date }}" required>
        </div>
        <div class="mb-3">
            <select name="time" class="form-select mx-auto w-auto">
                <option disabled selected>Time of Day</option>
                {% for time in times %}
                    <option value="{{ time }}">{{ time }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <textarea autocomplete="off" class="form-control mx-auto w-auto" name="notes" placeholder="(optional) Notes" rows="3" cols="50"></textarea>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" name="map_link" placeholder="(optional) On The Go Map share link" type="url"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Add Run</button>
    </form>
{% endblock %}