{% extends "layout.html" %}

{% block title %}
    Delete Run
{% endblock %}

{% block main %}
    <form action="/delete" method="post">
        <div class="mb-3">
            <select name="delete-run" class="form-select mx-auto w-auto">
                <option disabled selected>Run</option>
                {% for run in user_runs %}
                    <option value="{{ run['run_id'] }}">{{ run['date'] }} {{ run['time_of_day'] }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Delete</button>
    </form>
{% endblock %}