{% extends "layout.html" %}

{% block title %}
  Match
{% endblock %}

{% block main %}
    <p>Here are a list of users with common availability times and similar
    goals for distance and pace. Click on each user to get their contact information and additional notes.</p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Name</th>
                <th class="text-start">Date</th>
                <th class="text-start">Time</th>
                <th class="text-start">Distance</th>
                <th class="text-start">Pace</th>
            </tr>
        </thead>
        <tbody>
            {% for available_user in available_users %}
                <tr>
                    <td class="text-start"><button type = "button" class="btn" onclick="openPopup()">{{ available_user["full_name"] }}</button></td>
                    <td class="text-start"><button type = "button" class="btn" onclick="openPopup()">{{ available_user["date"] }}</button></td>
                    <td class="text-start"><button type = "button" class="btn" onclick="openPopup()">{{ available_user["time_of_day"] }}</button></td>
                    <td class="text-start"><button type = "button" class="btn" onclick="openPopup()">{{ available_user["distance"] }} mi</button></td>
                    <td class="text-start"><button type = "button" class="btn" onclick="openPopup()">{{ available_user["pace"] }}</button></td>
                </tr>
                <div class="popup" id="popup">
                    <!-- <img src="/static/favicon.ico"> -->
                    <!-- <h2>Here is the runner information!</h2>
                    <p>Full Name: {{ available_user["full_name"] }}</p>
                    <p>Email: {{ available_user["email"] }}</p>
                    <p>Date: {{ available_user["date"] }}</p>
                    <p>Time: {{ available_user["time_of_day"] }}</p>
                    <p>Distance: {{ available_user["distance"] }} mi</p>
                    <p>Pace: {{ available_user["pace"] }}</p>
                    {% if available_user["notes"] != "" %}
                        <p>Additional Notes: {{ available_user["notes"] }}</p>
                    {% endif %}
                    {% if available_user["map_link"] != "" %}
                        <p>Proposed Route:</p>
                        <iframe width="400" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ available_user['map_link'] }}"></iframe><br/><small><a href="https://onthegomap.com" style="color:#0000FF;text-align:left" target="_blank">On The Go Map</a></small>
                    {% endif %} -->
                    <h2>Here is the runner information!</h2>
                    <p>Full Name: {{ available_user["full_name"] }} <br>
                    Email: {{ available_user["email"] }} <br>
                    Date: {{ available_user["date"] }} <br>
                    Time: {{ available_user["time_of_day"] }} <br>
                    Distance: {{ available_user["distance"] }} miles<br>
                    Pace: {{ available_user["pace"] }} <br>
                    {% if available_user["notes"] != "" %}
                        <p>Additional Notes: {{ available_user["notes"] }}</p>
                    {% endif %}
                    {% if available_user["map_link"] != "" %}
                        <div>Proposed Route <br>
                            <iframe width="400" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="{{ available_user['map_link'] }}"></iframe><br/><small><a href="https://onthegomap.com" style="color:#0000FF;text-align:left" target="_blank">On The Go Map</a></small>
                        </div>
                    {% endif %}
                <button type="button" onclick="closePopup()">OK</button>
            </div>
            <script>
                let popup = document.getElementById("popup");
 
                function openPopup(){
                    popup.classList.add("open-popup");
                }
                function closePopup(){
                    popup.classList.remove("open-popup");
                }
            </script>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
 
 

